<title>Jordi López | Full-stack Developer</title>
<meta name="description" content="Jordi López, Full-stack developer based in Barcelona, Spain. Building things with code. Passionate about Javascript, Nodejs and WebPerformance.">
<meta name="author" content="Jordi López">
<meta charset="utf-8">
<link rel="canonical" href="http://jlopezxs.github.io/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="main.css" type="text/css" rel="stylesheet">